<div class="top-wrapper">
  <div class="top-inner-text">
    <H4>あるある特化SNS</H4>
    <H1><b>R R<b></H1>
    <H3><b>Reality Reflections<b></H3>
    <%= link_to boards_path do %>
    <button type="button" class="btn btn-secondary btn-lg">あるある言いたい</button>
    <% end %>
  </div>
</div>