<div class="top-wrapper">
  <div class="top-inner-text">
    <H1><b>R R Revolution<b></H1>
    <%= link_to "#" do %>
    <button type="button" class="btn btn-secondary btn-lg">あるある言いたい</button>
    <% end %>
  </div>
</div>