<header>
  <nav class="navbar navbar-expand-lg navigation bg-dark" data-bs-theme="dark">
    <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'logo.png', width:50%>
    <% end %>
    <div class = "navbar-text">Reality Reflections ~あるあるを寄せ合うSNS~</div>
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto main-nav align-items-center">
        <li class="nav-item">
          <%= link_to 'ログイン', login_path ,class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>