<div class="row">
    <div class="col-12">
      <div class="row">
        <% if @boards.present? %>
          <% if logged_in? %>
            <div class="fixed-bottom text-end" style="padding-right: 20px; padding-bottom: 20px;">
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#newBoardModal">投稿する</button>
            </div>
          <% else %>
            <div class="alert alert-primary" role="alert">
              各機能の利用にはログインが必要です
            </div>
          <%end%>
        <%= render partial: "board", collection: @boards %>
        <% else %>
        <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- モーダル -->
<div class="modal fade" id="newBoardModal" tabindex="-1" aria-labelledby="newBoardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newBoardModalLabel"><%= t('boards.title') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- ここにフォームを挿入 -->
        <%= render 'form', { board: @board } %>
      </div>
    </div>
  </div>
</div>