<div class="container mt-3">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('boards.title') %></h1>
      <%= render 'form', { board: @board } %>
    </div>
  </div>
</div>